*,
::after,
::before {
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  padding: 2rem;
  margin: 0;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $uoc-corporate;
  background-image: url("../images/bg-pattern.jpg");
  background-repeat: repeat;
}


@media only screen and (max-width: $mq-min-width) {
  [class*="col-"] {
    width: 100%;
  }
}

.section-title h2::after {
  position: relative;
  left: 0;
  display: block;
  width: 50px;
  height: 3px;
  margin-top: 3px;
  content: "";
  background: #149ddd;
}

.text-justify {
  text-align: justify;
}

.portrait {
  max-width: 30%;
}

.portrait-container {
  display: flex;
  justify-content: center;
}
